.panel {
	position: fixed;
    color: white;
    width: 0px;
    overflow: hidden;
    background: #777;
    white-space: nowrap;
}

.panel-hide {
    position: fixed;
    cursor: pointer;
    background: #777;
}

#codetrace, #status {
    background: #eeeeee;
    font-family: "PT Sans" !important;
    font-size: 13px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

#status {
	bottom: 240px;
    right: 43px;
    height: 54px;
    white-space: normal;
    background-color: #42A5F5;
}

#status p {
    padding: 10px !important;
}

#status-hide {
    bottom: 255px;
    right: 0px;
    padding: 19px 14px 19px 15px;
    background-color: #42A5F5;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#codetrace {
    bottom: 40px;
    right: 43px;
    height: 200px;
    font-family: "Courier New", Courier, monospace !important;
    background-color: #66BB6A;
}

#codetrace p {
    padding: 5px 10px;
}

#codetrace p.highlighted {
    background: black;
}

#codetrace-hide {
    bottom: 60px;
    right: 0px;
    padding: 88px 14px 88px 15px;
    transform: rotate(180deg);
    background-color: #66BB6A;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}