.panel {
    position: fixed;
    color: white;
    width: 0px;
    overflow: hidden;
    background: #777;
    white-space: nowrap;
}

.panel-hide {
    position: fixed;
    cursor: pointer;
    background: #777;
}

.execAction {
    cursor: pointer;
    padding: 8px 8px;
}

.execAction p:hover {
    background-color: black;
}

.action-menu-pullout {
    /*display: none;*/
    position: fixed;
    bottom: 108px;
    left: 195px;
}

.action-menu-pullout > div {
    float: left;
    color: white;
    background-color: #D65775;
}

.new-menu-option {
    margin-left: 3px;
}

#create-userdefined-input input {
    width: 300px;
}

#actions-extras input {
    padding: 5px 8px 7px;
}

.action-menu-pullout input {
    background-color: black;
    color: white;
}

#status, #codetrace, #actions {
    background: #eeeeee;
    font-family: "PT Sans" !important;
    font-size: 13px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

#status {
    bottom: 340px;
    right: 43px;
    height: 54px;
    white-space: normal;
    background-color: #42A5F5;
}

#status p {
    padding: 10px !important;
}

#status-hide {
    bottom: 355px;
    right: 0px;
    padding: 19px 14px 19px 15px;
    background-color: #42A5F5;
    transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#codetrace {
    bottom: -10px;
    right: 43px;
    height: 350px;
    font-family: "Courier New", Courier, monospace !important;
    background-color: #66BB6A;
}

#codetrace p {
    padding: 5px 10px;
}

#codetrace p.highlighted {
    background: black;
}

#codetrace-hide {
    bottom: 10px;
    right: 0px;
    padding: 165px 14px 165px 15px;
    transform: rotate(180deg) !important;
    background-color: #66BB6A;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#actions {
    bottom: 60px;
    left: 43px;
    height: 64px;
    font-family: "Courier New", Courier, monospace !important;
    background-color: #D65775;
}

#actions p {
    padding: 5px 10px;
    cursor: pointer;
}

#actions p:hover {
    background-color: black;
    color: white;
}

#actions p:first-of-type {
    padding-top: 10px;
}

#actions p:last-of-type {
    padding-bottom: 10px;
}

#actions-hide {
    bottom: 84px;
    left: 0px;
    padding: 19px 14px 19px 15px;
    padding-left: 14px;
    padding-right: 15px;
    transform: rotate(180deg) !important;
    background-color: #D65775;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
